<div class = "body">
    <div class = "left">
        <div class = "intro">
            <h1>FLASH PAGE</h1>
        </div>

        <div class="enter">
            <h3>Select Device:</h3>
            <select [formControl]="selectedDevice" class="dropdown">
                <option *ngFor="let device of devices" [value]="device.id">
                    ID[{{ device.id }}] {{ device.name }} 
                </option>
            </select>
            
        </div>
        
        <button (click)="sendForm()" class="send">Upload to Device</button>
      
    </div>


    <div class="block">

        <textarea  class="ta" [formControl]="flashCode"></textarea>

        <div class="terminal">
            <p id = "terminalValue" class="term"> Terminal</p>
        </div>

    </div>
</div>

